################################################################################
# Author: Michael Trensch
################################################################################

jtag_khz 6000
source [find interface/jtagkey.cfg]
source [find target/hilscher_netx10.cfg]
