tcl_port 6666
telnet_port 4444
gdb_port 3333

#interface
interface ft2232
ft2232_device_desc "NXHX10-ETM A"
ft2232_layout comstick
ft2232_vid_pid 0x0640 0x0028
jtag_khz 6000

#reset_config trst_and_srst|trst_only|srst_only srst_pulls_trst|trst_pulls_srst|combined
reset_config trst_and_srst
jtag_nsrst_delay 500
jtag_ntrst_delay 500

#jtag scan chain
#format L IRC IRCM IDCODE (Length, IR Capture, IR Capture Mask, IDCODE)
jtag newtap netx cpu -irlen 4 -expected-id 0x25966021

target create target0 arm966e -endian little -chain-position 0 -variant arm922t

target0 configure -work-area-virt 0x08000000 -work-area-phys 0x08000000 -work-area-size 0x4000 -work-area-backup 1

proc flash_init { } {
  puts "Configuring SRAM nCS0 for 90ns Par. Flash (x16)\n"
  mww 0x101C0100 0x01010008

  flash probe 0
}

proc mread32 {addr} {
  set value(0) 0
  ocd_mem2array value 32 $addr 1
  return $value(0)
}

proc init_clocks { } {
  puts "Enabling all clocks \n"
  set accesskey [mread32 0x101c0070]
  mww  0x101c0070 [expr $accesskey]
  
  mww  0x101c0028 0x00007511
}

proc init_sdrambus { } {
  puts "Initializing external SDRAM Bus 16 Bit \n"
  set accesskey [mread32 0x101c0070]
  mww  0x101c0070 [expr $accesskey]
  
  mww  0x101c0C48 0x00000050
}

target0 configure -event reset-init {
  halt
  wait_halt 1000

  arm7_9 fast_memory_access enable
  arm7_9 dcc_downloads enable
  
  puts "Configuring SDRAM controller for K4S561632E (32MB) \n"
  mww 0x101C0140 0
  mww 0x101C0144 0x00A12151
  mww 0x101C0140 0x030D0001  

  #for some reason it does not work to call ocd_mem2array from init event,
  #so tell the user he needs to call these functions
  #init_clocks
  #init_sdrambus

  puts "\n"
  puts "-------------------------------------------------\n"
  puts "Call 'init_clocks' to enable all clocks\n"
  puts "Call 'init_sdrambus' to enable external SDRAM bus\n"
  puts "-------------------------------------------------\n"
}

#####################
# Flash configuration
#####################

#flash bank <name> <driver> <base> <size> <chip width> <bus width> <target#>
flash bank parflash cfi 0xC0000000 0x01000000 2 2 0

init
reset init
